/**************************************************************
*  SASS Variables and Settings
***************************************************************/

$base-font-size: 1.6rem;
$base-line-height: 1.5;
$base-font-family: 'Open Sans', sans-serif;
$base-font-color: #333;
$base-link-color: #4183c4;

$content-width: 118rem; // 1180px

$font-smoothing: true;

@import "normalize";
@import "fonts";
@import "mixins";

/**************************************************************
*  Primary Styles
***************************************************************/

// We reset the html font size so we can
// eaily use rem units in base 10
html { font-size: 62.5% ;}  // 10px

body {
  background: #fff;
  font: 400 #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $base-font-color; //16px

  // Turn on font smoothing if set
  @if $font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}

@import "base";
@import "layout";
@import "headings";

/**************************************************************
*  Header
***************************************************************/

@import "header";

/**************************************************************
*  Content
***************************************************************/

@import "content";

/**************************************************************
*  Sidebars
***************************************************************/

@import "sidebar";

/**************************************************************
*  Footer
***************************************************************/

@import "footer";

/**************************************************************
*  Home / Front Page
***************************************************************/

@import "homepage";

/**************************************************************
*  Blog Comments
***************************************************************/

@import "comments";

/**************************************************************
*  WordPress Core
***************************************************************/

@import "wordpress-core";

/**************************************************************
*  Vendor Styles
***************************************************************/

@import "vendor/fancybox";

/**************************************************************
*  Responsive Styles
***************************************************************/

@import "responsive-tablet";
@import "responsive-mobile";
