/**************************************************************
*  SASS Variables and Settings
***************************************************************/

$base-font-size: 100%;
$base-line-height: 1.5;
$base-font-family: 'Open Sans', sans-serif;
$base-font-color: #333;
$base-link-color: #4183c4;

$content-width: 118rem;

$font-smoothing: true;

@import "normalize";
@import "fonts";
@import "mixins";

/**************************************************************
*  Primary Styles
***************************************************************/

// We reset the html font size so we can
// eaily use rem units in base 10
html { font-size: 62.5% ;}

body {
  background: #fff;
  font: 400 #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $base-font-color;

  // Turn on font smoothing if set
  @if $font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}

.wrap {
  width: $content-width;
  margin: 0 auto;
  @include clearfix;
}

a {
  text-decoration: none;
  color: $base-link-color;
}

.btn {
  display: inline-block;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
}

/**************************************************************
*  Header
***************************************************************/

@import "header";

/**************************************************************
*  Content
***************************************************************/

@import "content";

/**************************************************************
*  Sidebars
***************************************************************/

@import "sidebar";

/**************************************************************
*  Footer
***************************************************************/

@import "footer";

/**************************************************************
*  Home / Front Page
***************************************************************/

@import "homepage";

/**************************************************************
*  Blog Comments
***************************************************************/

@import "comments";

/**************************************************************
*  WordPress Core
***************************************************************/

@import "wordpress-core";

/**************************************************************
*  Fancybox Styles
***************************************************************/

@import "fancybox";

/**************************************************************
*  Responsive Styles
***************************************************************/

@import "responsive-tablet";
@import "responsive-mobile";
